<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate_car_sell_test</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">310266</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="ru.job4j.model.entities.Car"/>
        <mapping class="ru.job4j.model.entities.Carbody"/>
        <mapping class="ru.job4j.model.entities.Engine"/>
        <mapping class="ru.job4j.model.entities.Transmission"/>
    </session-factory>
</hibernate-configuration>