<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:mem:carsell;sql.enforce_size=false</property>
        <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="ru.job4j.model.entities.Car"/>
        <mapping class="ru.job4j.model.entities.Carbody"/>
        <mapping class="ru.job4j.model.entities.Engine"/>
        <mapping class="ru.job4j.model.entities.Transmission"/>
        <mapping class="ru.job4j.model.entities.Advertisement"/>
        <mapping class="ru.job4j.model.entities.User"/>
        <mapping class="ru.job4j.model.entities.Brand"/>
    </session-factory>
</hibernate-configuration>